.table {
  /* background: rgb(100,67,249);
background: linear-gradient(90deg, rgba(100,67,249,1) 0%, rgba(174,52,230,1) 100%); */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

button {
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}
#table_section {
  /* margin-top: 10px; */
  /* min-width: 700px; */
  max-width:900px;
  /* width: 80%; */
  overflow: hidden;
}
